# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0e25134688fcc5b64a56226f3081b38411527c5605585847109cec97faa650c31b90707c957e350fac0e2532524323d666e7272a116f91f2a7628a0f4b345afc

test:
  secret_key_base: e5e90457208519a78a976009d0c12b29139c85622971e6e4b2636a6f266111fcdf596ffeeadf87ca026ff563508a442df9cef7362fbffed6d3cc7d7137f9b65c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
